#profile{
    background-color: gray;
    min-height: 100vh;
    .note{
        background-color: #fcc;
        width: 250px;
        min-height: 250px;
        border-radius: 10px;
        box-shadow: 3px 3px 7px black;
        .clickable{
            cursor: pointer;
        }
        .fa-ellipsis-v{
            position: relative;
        }
        .menu{
            width: max-content;
            height: max-content;
            overflow: hidden;
            background-color: white;
            position: absolute;
            top: 100%;
            left: 100%;
            // display: none;
            .edit , .delete{
                padding: 5px 15px;
                transition: 0.5s all;
            }
            .edit:hover , .delete:hover{
                background-color: blueviolet;
            }
        }
    }
}